
.DS_Store

*.pbxproj

*.xcuserstate

*.pbxproj

platforms/ios/appIOS.xcodeproj/project.pbxproj

platforms/ios/appIOS.xcodeproj/project.xcworkspace/xcuserdata/yangxi.xcuserdatad/UserInterfaceState.xcuserstate
